* {
    margin: 0;
    padding: 0;
}

.center {
    padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);
}

.all_content {
    position: relative;
    overflow: hidden;
}


/* head */

.header {
    min-height: 75px;
    background: #222222;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

img {
    max-width: 100%;
    overflow: clip;
}

.dropbtn {
    color: white;
    font-size: 16px;
    border: none;
}

.drop {
    position: relative;
    display: inline-block;
}

.drop_menu {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(170, 10, 10, 0.2);
    z-index: 1;
}

.drop a {
    color: rgb(103, 139, 30);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.drop_menu a:hover {
    background-color: #222;
}

.drop:hover .drop_menu {
    display: block;
}

.drop:hover .dropbtn {
    background-color: #F16D7F;
}

.top_head {
    display: flex;
    background: #F1E4E6;
}

.tp_text {}

.tp_text:last-child {
    border-right: 6px solid #F16D7F;
}

.th_name {
    max-width: 15vh;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.of_luxerious {
    color: #222;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.fashion {
    color: #F16D7F;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.mid_box {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 64px;
    padding-bottom: 96px;
}

.mid_box_content {
    position: relative;
}

.mid_box_content_line {
    position: relative;
    min-height: 180px;
    grid-column: 1 / -1;
}

.mid_box_text {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.mbc_item {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}

.mbc_title {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #F16D7F;
}

.bot_head {
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.bot_box {
    margin-top: 48px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (360px);
    grid-template-columns: repeat(auto-fit, 360px);
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 30px;
}

.bot_box_content {
    position: relative;
}

.bot_box_text {
    background: #F8F8F8;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding: 24px 16px;
    gap: 16px;
}

.price {
    color: #F16D7F;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


/* end */

.bot_buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding: 50px 5px 100px 5px;
}

.button {
    color: #F26376;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 10px 15px 10px 15px;
    background-color: #FFF;
}

.addition {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #222222;
    color: #FFF;
    padding-bottom: 10vh;
    padding-top: 10vh;
}

.addition_content {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 3vh;
}

.addition_content_head {
    color: #FBFBFB;
    font-size: 19.96px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.addition_content_pargraph {
    color: #FBFBFB;
    text-align: center;
    font-size: 13.972px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.end {
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 50px 10px 50px 10px;
    /* background-image: url('img/background.svg'); */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    background: url('img/background.svg'), lightgray 0px -169px / 100% 246.875% no-repeat;
}

.end_content {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    max-width: 360px;
    text-align: center;
    padding: 5px 20px 5px 20px;
}

.ec_paragraph {
    display: flex;
    gap: 2vh;
}

.ec_titl {
    color: #222224;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 167.2%;
    /* 40.128px */
}

.ec_paragraph {
    color: #222224;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 167.2%;
}

.whole_input {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.input_email {
    width: 200px;
    height: 36px;
    overflow: hidden;
    position: relative;
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
}

.input_email_sub {
    background-color: #F16D7F;
    ;
    width: 70px;
    height: 40px;
    overflow: hidden;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    color: #FFF;
}

.footer {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    flex-direction: row;
    gap: 10vh;
    background-color: #222;
    color: #FBFBFB;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 1vh;
}

.footer_img {}

@media (min-width: 768px) and (max-width: 1024px) {
    .center {
        padding-left: calc(50% - 384px);
        padding-right: calc(50% -384px);
    }
    .top_head {
        display: flex;
        display: flex;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
    }
    .mid_box {
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(2, 1fr);
        padding-top: 24px;
        padding-bottom: 20px;
    }
    .mid_box_content_line {}
}

@media (max-width: 767px) {
    .center {
        padding-left: calc(50% - 384px);
        padding-right: calc(50% -384px);
    }
    .top_head {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        padding: 50px 0px 50px 0px;
    }
    .tp_text {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: flex-start;
        padding: 10px 0 0 10px;
    }
    .tp_img {
        display: none;
    }
    .th_name {
        color: #222;
        font-size: 24px;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
    }
    .of_luxerious {
        color: #222;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    .fashion {
        color: #F16D7F;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    .mid_box {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
    }
    .mid_box_content_line {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
    }
    .mbc_item {
        color: #FFF;
        text-align: center;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .mbc_title {
        color: #F16D7F;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    .bot_box_content {
        padding: 5px;
    }
    .bot_buttons {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
    }
}